GEMINI_API_KEY_CITATION='gemini_api_key_citation'
DATABASE_PATH="research_papers.db"
MAX_DEPTH=5
TOP_K_CITATIONS=12
PAPER_ANALYZER_URL="http://localhost:8001/analyze"
UPDATION_AGENT_URL="http://localhost:8002/update"
GEMINI_API_KEY_sYNTHESIS='gemini_api_key_synthesis'